<!doctype html>
<html>
    <head>
        <title>文章类型</title>
    </head>
    <body>
        <form action="/article/type" method="post">
            文章类型：<input type="text" name="articletype"><br><br>
            类型描述:<textarea name="description"></textarea><br><br>
            <input type="submit" value="提交">
        </form>
    </body>
</html>