<!doctype html>
<html>

<head>
    <%- include('admin/portal/head'); %>
    <script src="/javascripts/echarts.min.js"></script>
</head>

<body data-type="generalComponents">
     <%- include('admin/portal/header') %>

    <div class="tpl-page-container tpl-page-header-fixed">

         <%- include('admin/portal/sidernav') %>
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
               检察联络员一览表
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">文章</a></li>
                <li class="am-active"> 检察联络员一览表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span>  检察联络员一览表
                    </div>

                </div>
                <div class="tpl-block">
                   <!-- 页面内容开始 -->
                    <div class="am-g am-g-fixed blog-g-fixed">
                        <div class="am-u-md-8">
                        <article class="blog-main">
                            <h3 class="am-article-title blog-title">
                            <a href="#">检察联络员联系方式一览</a>
                        </h3>
                        

                            <div class="am-g blog-content">
                            
                            <div class="am-u-lg-5">
                                <p><img src="/images/00.jpg"></p>
                            </div>

                            </div>
                        
                        </article>
                        <hr class="am-article-divider blog-hr">
                        <ul class="am-pagination blog-pagination">
                            <li class="am-pagination-prev"><a href="">« 上一页</a></li>
                            <li class="am-pagination-next"><a href="">下一页 »</a></li>
                        </ul>
                        </div>

                    </div>
                    

                    
                </div>
                <div class="tpl-alert"></div>
            </div>

        </div>

    </div>


      <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/amazeui.min.js"></script>
    <script src="/javascripts/iscroll.js"></script>
    <script src="/javascripts/app.js"></script>
</body>

</html>