<!doctype html>
<html>
<head lang="en">
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%=title%></title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/i/examples/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/i/examples//app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/css/admin.css">
  <style>
    body{
      background-image: url(/images/login2.jpg);
      background-size: 100% 100%;
    }
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
  <div class="header">
    <div class="am-g">
      <img src="/images/login1.jpg" width="90px" height="90px" style="position: absolute;top: 10px;left:23%">
      <h1>山西检察机关新媒体统一管理平台</h1>
      <p>Integrated Of The New Media Environment<br/>文章编辑，模版生成，集中发布，统一管理</p>
    </div>
    <hr />
  </div>

  <div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
      <h3>登录</h3>
      <hr>
      <!-- <div class="am-btn-group">
        <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-wechat am-icon-sm"></i> Wechat</a>
        <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-weibo am-icon-sm"></i> Weibo</a>
      </div> -->
      <br>
      <br>
      <form action="/users/login" method="post" role="form" class="am-form">
        <input type="hidden" name="_csrf" value="<%=csrf_token%>">
        <label for="username">用户名:</label>
        <input type="text" name="username" id="username" value="" required/>
        <br>
        <label for="password">密码:</label>
        <input type="password" name="password" id="password" value="" required/>
        <br>
        <label for="remember-me">
          <input id="remember-me" name="remember-me" type="checkbox"/>
          记住我
        </label>
        <br />
        <div class="am-cf">
          <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
          <a class="am-btn am-btn-sm am-btn-secondary" href="/signup">注 册</a>
          <input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
        </div>
      </form>
      <div id="copyright">
        <hr>
        <div style="text-align:center">技术支持:北京中检旭风科技发展有限责任公司</div>
      </div>
    </div>
  </div>

 <!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/js/amazeui.min.js"></script>
<script src="/js/app.js"></script>
  <script>
    (function(){
      if(document.body.clientHeight< window.innerHeight){
        var space = window.innerHeight - document.body.clientHeight - 10;
        document.querySelector("#copyright").setAttribute("style","margin-top:"+space+"px");
      }else{
        document.querySelector("#copyright").setAttribute("style","margin-top:50px");
      }
    })()
  </script>
</body>
</html>