<!doctype html>
<html>

<head>
    <%- include('admin/portal/head'); %>
    <script src="/javascripts/echarts.min.js"></script>
</head>

<body data-type="generalComponents">
     <%- include('admin/portal/header') %>

    <div class="tpl-page-container tpl-page-header-fixed">

         <%- include('admin/portal/sidernav') %>
        <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
               巡回检察
            </div>
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">Amaze UI CSS</a></li>
                <li class="am-active">巡回检察</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span>巡回检察
                    </div>

             </div>
             <div class="tpl-block">
                  <div class="am-g am-g-fixed">
    <div class="am-slider am-slider-default" data-am-flexslider="{playAfterPaused: 8000}">
      <ul class="am-slides">
        <li><img src="/images/2.jpg" height="300px;" /></li>
        <li><img src="/images/8.jpg" height="300px;" /></li>
      </ul>
    </div>
    <div data-am-widget="tabs" class="am-tabs am-tabs-d2" style="margin:0;overflow:auto;">
      <ul class="am-tabs-nav am-cf" style="font-size:16px;">
        <li class="am-active"><a href="[data-tab-panel-0]">巡检概况</a></li>
        <li class=""><a href="[data-tab-panel-1]">巡检一室</a></li>
        <li class=""><a href="[data-tab-panel-2]">巡检二室</a></li>
        <li class=""><a href="[data-tab-panel-3]">巡检地图</a></li>
      </ul>
      <div class="am-tabs-bd" style="position:absolute;height:auto;width:100%">

      <%#子菜单巡检概况%>

        <div data-tab-panel-0 class="am-tab-panel am-active" style="width:1000px;">
            <%Articles.forEach(function(Article) {%>
                <p><%= Article.content%></p>
            <%})%>
        </div>
        <div data-tab-panel-1 class="am-tab-panel">
          <div class="am-cf">
            <p class="am-align-left">
              <img src="/images/yszrlj.jpg" alt="" class="am-img-thumbnail" width="100" height="149" />
            </p>
            <p>
              主任：<i class="am-icon-gavel"></i> 李健
            </p>
            <p>
              电话：<a href="tel:18635820658"><i class="am-icon-mobile"></i> 18503585130</a>
            </p>
            <p>
              地址：<i class="am-icon-map"></i> 山西省吕梁市汾阳杏花镇政府
            </p>
          </div>
          <!-- 一室人员开始//-->
          <div class="am-panel-group" id="accordion">
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-1'}">
                  辰北街道各社区信息联络员
                </h4>
              </div>
              <div id="do-not-say-1" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                  <table class="am-table am-table-striped am-table-hover">
                    <thead>
                      <tr>
                        <th>单位名称</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>联系电话</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>街道办</td>
                        <td>张万强</td>
                        <td>分管领导</td>
                        <td>15835886677</td>
                      </tr>
                      <tr>
                        <td>街道办</td>
                        <td>张万强</td>
                        <td>分管领导</td>
                        <td>15835886677</td>
                      </tr>
                      <tr>
                        <td>街道办</td>
                        <td>王艳霞</td>
                        <td>调委主任</td>
                        <td>15235800661</td>
                      </tr>
                      <tr>
                        <td>街道办</td>
                        <td>赵立川</td>
                        <td>矛排员</td>
                        <td>13994805608</td>
                      </tr>
                      <tr>
                        <td>古贤</td>
                        <td>赵 强</td>
                        <td>调委主任</td>
                        <td>13935836522</td>
                      </tr>
                      <tr>
                        <td>北关</td>
                        <td>胡柏林</td>
                        <td>调委主任</td>
                        <td>13096675799</td>
                      </tr>
                      <tr>
                        <td>米家庄</td>
                        <td>岳家明</td>
                        <td>调委主任</td>
                        <td>13935816858</td>
                      </tr>
                      <tr>
                        <td>北廓村</td>
                        <td>王建明</td>
                        <td>调委主任</td>
                        <td>15035891805</td>
                      </tr>
                      <tr>
                        <td>北关园</td>
                        <td>池光远</td>
                        <td>调委主任</td>
                        <td>13803485559</td>
                      </tr>
                      <tr>
                        <td>幸福</td>
                        <td>高清华</td>
                        <td>调委主任</td>
                        <td>15035895711</td>
                      </tr>
                      <tr>
                        <td>高护</td>
                        <td>李玉明</td>
                        <td>调委主任</td>
                        <td>13097582449</td>
                      </tr>
                      <tr>
                        <td>籽城坊</td>
                        <td>王忠文</td>
                        <td>调委主任</td>
                        <td>15536414388</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-2'}">
                  冀村镇各村信息联络员
                </h4>
              </div>
              <div id="do-not-say-2" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                  <table class="am-table am-table-striped am-table-hover">
                    <thead>
                      <tr>
                        <th>单位名称</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>联系电话</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>镇政府</td>
                        <td>阮云波</td>
                        <td>分管领导</td>
                        <td>13753821110</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>王新恩</td>
                        <td>调委主任</td>
                        <td>13037099705</td>
                      </tr>
                      <tr>
                        <td>冀村</td>
                        <td>相里振</td>
                        <td>调委主任</td>
                        <td>　</td>
                      </tr>
                      <tr>
                        <td>仁岩村</td>
                        <td>张志庆</td>
                        <td>调委主任</td>
                        <td>15525889184</td>
                      </tr>
                      <tr>
                        <td>东社村</td>
                        <td>蔚芝富</td>
                        <td>调委主任</td>
                        <td>13753593972</td>
                      </tr>
                      <tr>
                        <td>东九枝村</td>
                        <td>曹玉柱</td>
                        <td>调委主任</td>
                        <td>13935885279</td>
                      </tr>
                      <tr>
                        <td>艾子村</td>
                        <td>刘年普</td>
                        <td>调委主任</td>
                        <td>13203587646</td>
                      </tr>
                      <tr>
                        <td>城子</td>
                        <td>郝兆宝</td>
                        <td>调委主任</td>
                        <td> </td>
                      </tr>
                      <tr>
                        <td>唐兴村</td>
                        <td>冀生林</td>
                        <td>调委主任</td>
                        <td>　</td>
                      </tr>
                      <tr>
                        <td>古贤村</td>
                        <td>张振发</td>
                        <td>调委主任</td>
                        <td>15235849030</td>
                      </tr>
                      <tr>
                        <td>南浦村</td>
                        <td>赵正福</td>
                        <td>调委主任</td>
                        <td>15135870466</td>
                      </tr>
                      <tr>
                        <td>东河头村</td>
                        <td>段启英</td>
                        <td>调委主任</td>
                        <td>13453832948</td>
                      </tr>
                      <tr>
                        <td>东马寨</td>
                        <td>张春生</td>
                        <td>调委主任</td>
                        <td>15935843487</td>
                      </tr>
                      <tr>
                        <td>大会头</td>
                        <td>田项明</td>
                        <td>调委主任</td>
                        <td>18303581304</td>
                      </tr>
                      <tr>
                        <td>东陈家庄</td>
                        <td>梁启圣</td>
                        <td>调委主任</td>
                        <td>13753887782</td>
                      </tr>
                      <tr>
                        <td>东宋家庄</td>
                        <td>薛瑞久</td>
                        <td>调委主任</td>
                        <td>13037096737</td>
                      </tr>
                      <tr>
                        <td>东遥庄</td>
                        <td>张太明</td>
                        <td>调委主任</td>
                        <td>15935163243</td>
                      </tr>
                      <tr>
                        <td>富家庄</td>
                        <td>武忠良</td>
                        <td>调委主任</td>
                        <td>15935836836</td>
                      </tr>
                      <tr>
                        <td>李家庄村</td>
                        <td>独绍金</td>
                        <td>调委主任</td>
                        <td>13453858728</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-3'}">
                  贾家庄镇各村信息联络员
                </h4>
              </div>
              <div id="do-not-say-3" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                  <table class="am-table am-table-striped am-table-hover">
                    <thead>
                      <tr>
                        <th>单位名称</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>联系电话</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>镇政府</td>
                        <td>吕伟</td>
                        <td>分管领导</td>
                        <td>18503583535</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>张雅琼</td>
                        <td>调委主任</td>
                        <td>13934364438</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>靳天利</td>
                        <td>矛排员</td>
                        <td>13994840848</td>
                      </tr>
                      <tr>
                        <td>前庄化</td>
                        <td>郭孝</td>
                        <td>调委主任</td>
                        <td>15835196666</td>
                      </tr>
                      <tr>
                        <td>罗城</td>
                        <td>刘锡林</td>
                        <td>调委主任</td>
                        <td>13593406781</td>
                      </tr>
                      <tr>
                        <td>贾家庄</td>
                        <td>祁建军</td>
                        <td>调委主任</td>
                        <td>13835801116</td>
                      </tr>
                      <tr>
                        <td>金井</td>
                        <td>王志伟</td>
                        <td>成员</td>
                        <td>13994840905</td>
                      </tr>
                      <tr>
                        <td>大相</td>
                        <td>成启发</td>
                        <td>调委主任</td>
                        <td>13994805253</td>
                      </tr>
                      <tr>
                        <td>西雷堡</td>
                        <td>曹东辉</td>
                        <td>调委主任</td>
                        <td>13734168977</td>
                      </tr>
                      <tr>
                        <td>新丰</td>
                        <td>高万山</td>
                        <td>调委主任</td>
                        <td>13037084543</td>
                      </tr>
                      <tr>
                        <td>太平</td>
                        <td>武振贵</td>
                        <td>调委主任</td>
                        <td>18335822417</td>
                      </tr>
                      <tr>
                        <td>古浮图</td>
                        <td>任宏伟</td>
                        <td>调委主任</td>
                        <td>18634366668</td>
                      </tr>
                      <tr>
                        <td>董寺</td>
                        <td>雷开荣</td>
                        <td>调委主任</td>
                        <td>13111216392</td>
                      </tr>
                      <tr>
                        <td>西陈</td>
                        <td>徐志峰</td>
                        <td>调委主任</td>
                        <td>13935875001</td>
                      </tr>
                      <tr>
                        <td>小罗城</td>
                        <td>魏世新</td>
                        <td>调委主任</td>
                        <td>13097573197</td>
                      </tr>
                      <tr>
                        <td>后庄化</td>
                        <td>王振宁</td>
                        <td>调委主任</td>
                        <td>13934015607</td>
                      </tr>
                      <tr>
                        <td>朝阳坡</td>
                        <td>李桥</td>
                        <td>调委主任</td>
                        <td>18335848032</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-5'}">
                  太和桥街道各社区信息联络员
                </h4>
              </div>
              <div id="do-not-say-5" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                  <table class="am-table am-table-striped am-table-hover">
                    <thead>
                      <tr>
                        <th>单位名称</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>联系电话</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>街道办</td>
                        <td>李双马</td>
                        <td>分管领导</td>
                        <td>13994807091</td>
                      </tr>
                      <tr>
                        <td>街道办</td>
                        <td>乔艳红</td>
                        <td>调委主任</td>
                        <td>13935806658</td>
                      </tr>
                      <tr>
                        <td>街道办</td>
                        <td>李玮</td>
                        <td>矛排员</td>
                        <td>13223586663</td>
                      </tr>
                      <tr>
                        <td>街道办</td>
                        <td>马振富</td>
                        <td>矛排员</td>
                        <td>13593423555</td>
                      </tr>
                      <tr>
                        <td>东北</td>
                        <td>张冬生</td>
                        <td>调委主任</td>
                        <td>13753342768</td>
                      </tr>
                      <tr>
                        <td>汾阳医院</td>
                        <td>郝润英</td>
                        <td>调委主任</td>
                        <td>13994840658</td>
                      </tr>
                      <tr>
                        <td>鼓楼北</td>
                        <td>王爱萍</td>
                        <td>调委主任</td>
                        <td>13283583343</td>
                      </tr>
                      <tr>
                        <td>新开路</td>
                        <td>刘建锦</td>
                        <td>调委主任</td>
                        <td>15235830899</td>
                      </tr>
                      <tr>
                        <td>西府</td>
                        <td>段茹</td>
                        <td>调委主任</td>
                        <td>15834381985</td>
                      </tr>
                      <tr>
                        <td>府学街</td>
                        <td>马晓红</td>
                        <td>调委主任</td>
                        <td>18703582588</td>
                      </tr>
                      <tr>
                        <td>鼓楼南</td>
                        <td>武燕</td>
                        <td>调委主任</td>
                        <td>13453883260</td>
                      </tr>
                      <tr>
                        <td>汾阳监狱社区</td>
                        <td>韩学惠</td>
                        <td>调委主任</td>
                        <td>13935816352</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-6'}">
                  杏花村镇各村信息联络员
                </h4>
              </div>
              <div id="do-not-say-6" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                  <table class="am-table am-table-striped am-table-hover">
                    <thead>
                      <tr>
                        <th>单位名称</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>联系电话</th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr>
                        <td>镇政府</td>
                        <td>李景春</td>
                        <td>分管领导</td>
                        <td>13935836218</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>李建光</td>
                        <td>调委主任</td>
                        <td>13294582377</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>郑立伟</td>
                        <td>矛排员</td>
                        <td>13994843698</td>
                      </tr>
                      <tr>
                        <td>东堡村</td>
                        <td>武贵勇</td>
                        <td>调委主任</td>
                        <td>13100089839</td>
                      </tr>
                      <tr>
                        <td>西堡村</td>
                        <td>孙吉有</td>
                        <td>调委主任</td>
                        <td>13753342796</td>
                      </tr>
                      <tr>
                        <td>冯郝沟</td>
                        <td>冯兴东</td>
                        <td>调委主任</td>
                        <td>15935889665</td>
                      </tr>
                      <tr>
                        <td>安上村</td>
                        <td>李立山</td>
                        <td>调委主任</td>
                        <td>13485414238</td>
                      </tr>
                      <tr>
                        <td>小相村</td>
                        <td>魏成明</td>
                        <td>调委主任</td>
                        <td>13935851994</td>
                      </tr>
                      <tr>
                        <td>上堡村</td>
                        <td>任立根</td>
                        <td>调委主任</td>
                        <td>18735833243</td>
                      </tr>
                      <tr>
                        <td>下堡村</td>
                        <td>任智明</td>
                        <td>调委主任</td>
                        <td>　</td>
                      </tr>
                      <tr>
                        <td>小相寨村</td>
                        <td>吕贵恩</td>
                        <td>调委主任</td>
                        <td>18235843368</td>
                      </tr>
                      <tr>
                        <td>窑头村</td>
                        <td>武吉梅</td>
                        <td>调委主任</td>
                        <td>13293846883</td>
                      </tr>
                      <tr>
                        <td>辛庄村</td>
                        <td>燕通</td>
                        <td>调委主任</td>
                        <td>13111217676</td>
                      </tr>
                      <tr>
                        <td>永安村</td>
                        <td>任小红</td>
                        <td>调委主任</td>
                        <td>18603587093</td>
                      </tr>
                      <tr>
                        <td>武家垣</td>
                        <td>郭建有</td>
                        <td>调委主任</td>
                        <td>13994804528</td>
                      </tr>
                      <tr>
                        <td>杜村</td>
                        <td>蔚茂兴</td>
                        <td>调委主任</td>
                        <td>13453833878</td>
                      </tr>
                      <tr>
                        <td>官道村</td>
                        <td>李永太</td>
                        <td>调委主任</td>
                        <td>　</td>
                      </tr>
                      <tr>
                        <td>石老村</td>
                        <td>任爱全</td>
                        <td>调委主任</td>
                        <td>15235875928</td>
                      </tr>
                      <tr>
                        <td>庄上村</td>
                        <td>郭秀林</td>
                        <td>调委主任</td>
                        <td>15935197842</td>
                      </tr>
                      <tr>
                        <td>张兴村</td>
                        <td>禇耀斌</td>
                        <td>调委主任</td>
                        <td>13835821877</td>
                      </tr>
                      <tr>
                        <td>上庙村</td>
                        <td>禇小军</td>
                        <td>调委主任</td>
                        <td>13935840113</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-7'}">
                  演武镇各村人民调解委员会
                </h4>
              </div>
              <div id="do-not-say-7" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                  <table class="am-table am-table-striped am-table-hover">
                    <thead>
                      <tr>
                        <th>单位名称</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>联系电话</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>演武镇</td>
                        <td>刘正国</td>
                        <td>分管领导</td>
                        <td>13097581999</td>
                      </tr>
                      <tr>
                        <td>演武镇</td>
                        <td>张绍慧</td>
                        <td>调委主任</td>
                        <td>13935840847</td>
                      </tr>
                      <tr>
                        <td>演武镇</td>
                        <td>李龙刚</td>
                        <td>矛排员</td>
                        <td>13593366298</td>
                      </tr>
                      <tr>
                        <td>演武村</td>
                        <td>王文广</td>
                        <td>调委主任</td>
                        <td>13503585254</td>
                      </tr>
                      <tr>
                        <td>白石村</td>
                        <td>任永庆</td>
                        <td>调委主任</td>
                        <td>13333587185</td>
                      </tr>
                      <tr>
                        <td>南开社</td>
                        <td>张贵生</td>
                        <td>调委主任</td>
                        <td>15835835705</td>
                      </tr>
                      <tr>
                        <td>招贤村</td>
                        <td>田发根</td>
                        <td>调委主任</td>
                        <td>7560323</td>
                      </tr>
                      <tr>
                        <td>东堡障</td>
                        <td>王永军</td>
                        <td>调委主任</td>
                        <td>7563184</td>
                      </tr>
                      <tr>
                        <td>西堡障</td>
                        <td>王耀功</td>
                        <td>调委主任</td>
                        <td>15834367870</td>
                      </tr>
                      <tr>
                        <td>辛盖</td>
                        <td>刘建林</td>
                        <td>调委主任</td>
                        <td>15835835711</td>
                      </tr>
                      <tr>
                        <td>韩家桥</td>
                        <td>郭宝明</td>
                        <td>调委主任</td>
                        <td>13753844058</td>
                      </tr>
                      <tr>
                        <td>师家庄</td>
                        <td>王恩全</td>
                        <td>调委主任</td>
                        <td>15035887164</td>
                      </tr>
                      <tr>
                        <td>北上达</td>
                        <td>任荣录</td>
                        <td>调委主任</td>
                        <td>13458413460</td>
                      </tr>
                      <tr>
                        <td>中上达</td>
                        <td>赵兆贵</td>
                        <td>调委主任</td>
                        <td>7568636</td>
                      </tr>
                      <tr>
                        <td>南上达</td>
                        <td>陈秀彪</td>
                        <td>调委主任</td>
                        <td>15935181201</td>
                      </tr>
                      <tr>
                        <td>西河堡</td>
                        <td>侯德豹</td>
                        <td>调委主任</td>
                        <td>18535804488</td>
                      </tr>
                      <tr>
                        <td>东大王</td>
                        <td>宋颜亮</td>
                        <td>调委主任</td>
                        <td>13503585847</td>
                      </tr>
                      <tr>
                        <td>西大王</td>
                        <td>冯吉平</td>
                        <td>调委主任</td>
                        <td>13835821827</td>
                      </tr>
                      <tr>
                        <td>北小堡</td>
                        <td>李士元</td>
                        <td>调委主任</td>
                        <td>13533655127</td>
                      </tr>
                      <tr>
                        <td>北辛庄</td>
                        <td>张定豹</td>
                        <td>调委主任</td>
                        <td>15135864834</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-8'}">
                  峪道河镇信息联络员
                </h4>
              </div>
              <div id="do-not-say-8" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                  <table class="am-table am-table-striped am-table-hover">
                    <thead>
                      <tr>
                        <th>单位名称</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>联系电话</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>镇政府</td>
                        <td>吴钟涛</td>
                        <td>分管领导</td>
                        <td>13935875631</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>李淑红</td>
                        <td>调委主任</td>
                        <td>13593423191</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>赵建新</td>
                        <td>矛排员</td>
                        <td>13753887228</td>
                      </tr>
                      <tr>
                        <td>刘 村</td>
                        <td>武生宏</td>
                        <td>调委主任</td>
                        <td>13593406036</td>
                      </tr>
                      <tr>
                        <td>肃 静</td>
                        <td>郝树斌</td>
                        <td>调委主任</td>
                        <td>13593364006</td>
                      </tr>
                      <tr>
                        <td>圪 垛</td>
                        <td>冯忠和</td>
                        <td>调委主任</td>
                        <td>15835886054</td>
                      </tr>
                      <tr>
                        <td>堡城寺</td>
                        <td>李志生</td>
                        <td>调委主任</td>
                        <td>13994808180</td>
                      </tr>
                      <tr>
                        <td>宏 寺</td>
                        <td>闫树枝</td>
                        <td>调委主任</td>
                        <td>13593421910</td>
                      </tr>
                      <tr>
                        <td>峪 口</td>
                        <td>杨学军</td>
                        <td>调委主任</td>
                        <td>15035816761</td>
                      </tr>
                      <tr>
                        <td>赵家街</td>
                        <td>武振文</td>
                        <td>调委主任</td>
                        <td>15934015424</td>
                      </tr>
                      <tr>
                        <td>梁家沟</td>
                        <td>赵承胜</td>
                        <td>调委主任</td>
                        <td>15935080783</td>
                      </tr>
                      <tr>
                        <td>李家沟</td>
                        <td>李和平</td>
                        <td>调委主任</td>
                        <td>13753594836</td>
                      </tr>
                      <tr>
                        <td>崖 头</td>
                        <td>魏金成</td>
                        <td>调委主任</td>
                        <td>13593420959</td>
                      </tr>
                      <tr>
                        <td>田 褚</td>
                        <td>王贵成</td>
                        <td>调委主任</td>
                        <td>15935802306</td>
                      </tr>
                      <tr>
                        <td>水 泉</td>
                        <td>黄志光</td>
                        <td>成员</td>
                        <td>13994805848</td>
                      </tr>
                      <tr>
                        <td>王盛庄</td>
                        <td>韩克敬</td>
                        <td>调委主任</td>
                        <td>15834367586</td>
                      </tr>
                      <tr>
                        <td>柏草坡</td>
                        <td>李晋元</td>
                        <td>成员</td>
                        <td>15035823740</td>
                      </tr>
                      <tr>
                        <td>赵 庄</td>
                        <td>吕学斌</td>
                        <td>调委主任</td>
                        <td>13753821068</td>
                      </tr>
                      <tr>
                        <td>后 沟</td>
                        <td>郝清河</td>
                        <td>调委主任</td>
                        <td>15835838625</td>
                      </tr>
                      <tr>
                        <td>金 庄</td>
                        <td>史成林</td>
                        <td>调委主任</td>
                        <td>13935099526</td>
                      </tr>
                      <tr>
                        <td>双 沟</td>
                        <td>杨冬生</td>
                        <td>调委主任</td>
                        <td>13643586308</td>
                      </tr>
                      <tr>
                        <td>开垣庄</td>
                        <td>赵学文</td>
                        <td>调委主任</td>
                        <td>13934358758</td>
                      </tr>
                      <tr>
                        <td>安乐庄</td>
                        <td>郭福伟</td>
                        <td>调委主任</td>
                        <td>13753801093</td>
                      </tr>
                      <tr>
                        <td>下 池</td>
                        <td>张述宏</td>
                        <td>调委主任</td>
                        <td>13835815626</td>
                      </tr>
                      <tr>
                        <td>上 池</td>
                        <td>武德勇</td>
                        <td>调委主任</td>
                        <td>15035897067</td>
                      </tr>
                      <tr>
                        <td>龙 湾</td>
                        <td>穆先东</td>
                        <td>调委主任</td>
                        <td>7294035</td>
                      </tr>
                      <tr>
                        <td>宋家庄</td>
                        <td>郭瑞茂</td>
                        <td>调委主任</td>
                        <td>18234834188</td>
                      </tr>
                      <tr>
                        <td>向 阳</td>
                        <td>薛连茂</td>
                        <td>调委主任</td>
                        <td>13293787849</td>
                      </tr>
                      <tr>
                        <td>下张庄</td>
                        <td>赵 宏</td>
                        <td>调委主任</td>
                        <td>15035899096</td>
                      </tr>
                      <tr>
                        <td>上 庄</td>
                        <td>于利根</td>
                        <td>调委主任</td>
                        <td>13753821151</td>
                      </tr>
                      <tr>
                        <td>坡 头</td>
                        <td>张福全</td>
                        <td>调委主任</td>
                        <td>13293787760</td>
                      </tr>
                      <tr>
                        <td>马 社</td>
                        <td>郝治义</td>
                        <td>调委主任</td>
                        <td>13994841176</td>
                      </tr>
                      <tr>
                        <td>褚家沟</td>
                        <td>张振家</td>
                        <td>调委主任</td>
                        <td>15035844373</td>
                      </tr>
                      <tr>
                        <td>山 底</td>
                        <td>向明合</td>
                        <td>调委主任</td>
                        <td>15235867438</td>
                      </tr>
                      <tr>
                        <td>余家垣</td>
                        <td>冯建福</td>
                        <td>调委主任</td>
                        <td>13593389561</td>
                      </tr>
                      <tr>
                        <td>相子垣</td>
                        <td>王艳军</td>
                        <td>调委主任</td>
                        <td>13935815513</td>
                      </tr>
                      <tr>
                        <td>交 口</td>
                        <td>魏晓春</td>
                        <td>调委主任</td>
                        <td>15135490069</td>
                      </tr>
                      <tr>
                        <td>古 池</td>
                        <td>赵志荣</td>
                        <td>调委主任</td>
                        <td>13934015013</td>
                      </tr>
                      <tr>
                        <td>任家庄</td>
                        <td>杨福忠</td>
                        <td>调委主任</td>
                        <td>13834761593</td>
                      </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="am-panel am-panel-default">
              <div class="am-panel-hd">
                <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-9'}">
                  肖家庄各村信息联络员
                </h4>
              </div>
              <div id="do-not-say-9" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                  <table class="am-table am-table-striped am-table-hover">
                    <thead>
                      <tr>
                        <th>单位名称</th>
                        <th>姓名</th>
                        <th>职务</th>
                        <th>联系电话</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>镇政府</td>
                        <td>张麒麟</td>
                        <td>分管领导</td>
                        <td>18613589777</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>郭维</td>
                        <td>调委主任</td>
                        <td>13753350819</td>
                      </tr>
                      <tr>
                        <td>镇政府</td>
                        <td>吕德成</td>
                        <td>矛排员</td>
                        <td>13934358331</td>
                      </tr>
                      <tr>
                        <td>肖家庄村</td>
                        <td>吕思珍</td>
                        <td>调解主任</td>
                        <td>13134644040</td>
                      </tr>
                      <tr>
                        <td>安头村</td>
                        <td>赵国富</td>
                        <td>调解主任</td>
                        <td>13593423163</td>
                      </tr>
                      <tr>
                        <td>唐家堡村</td>
                        <td>王学信</td>
                        <td>调解主任</td>
                        <td>15035362412</td>
                      </tr>
                      <tr>
                        <td>何家庄村</td>
                        <td>赵愧</td>
                        <td>调解主任</td>
                        <td>15340958318</td>
                      </tr>
                      <tr>
                        <td>东雷堡村</td>
                        <td>曹文平</td>
                        <td>调解主任</td>
                        <td>15234809623</td>
                      </tr>
                      <tr>
                        <td>孙家庄村</td>
                        <td>董启贵</td>
                        <td>调解主任</td>
                        <td>13753887248</td>
                      </tr>
                      <tr>
                        <td>康宁堡村</td>
                        <td>赵全贤</td>
                        <td>调解主任</td>
                        <td>13037083569</td>
                      </tr>
                      <tr>
                        <td>青堆村</td>
                        <td>张晋富</td>
                        <td>调解主任</td>
                        <td>13233585492</td>
                      </tr>
                      <tr>
                        <td>玉兰村</td>
                        <td>张玉荣</td>
                        <td>调解主任</td>
                        <td>13994806241</td>
                      </tr>
                      <tr>
                        <td>高丰村</td>
                        <td>冯柱</td>
                        <td>调解主任</td>
                        <td>13753836683</td>
                      </tr>
                      <tr>
                        <td>潴城村</td>
                        <td>刘永富</td>
                        <td>调解主任</td>
                        <td>13485414421</td>
                      </tr>
                      <tr>
                        <td>八十堡村</td>
                        <td>赵树福</td>
                        <td>调解主任</td>
                        <td>15035816602</td>
                      </tr>
                      <tr>
                        <td>中寨村</td>
                        <td>段其荣</td>
                        <td>调解主任</td>
                        <td>15834367593</td>
                      </tr>
                      <tr>
                        <td>西马寨村</td>
                        <td>独思远</td>
                        <td>调解主任</td>
                        <td>13835815753</td>
                      </tr>
                      <tr>
                        <td>宣柴堡村</td>
                        <td>白耀杰</td>
                        <td>调解主任</td>
                        <td>15935875781</td>
                      </tr>
                      <tr>
                        <td>义安村</td>
                        <td>马云山</td>
                        <td>调解主任</td>
                        <td>13753857467</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- 一室人员结束//-->
        </div>
        <div data-tab-panel-2 class="am-tab-panel">
          <div class="am-cf">
            <p class="am-align-left">
              <img src="/images/eszrlym.jpg" alt="" class="am-img-thumbnail" width="100" height="149" />
            </p>
            <p>
              主任：<i class="am-icon-gavel"></i> 李永明
            </p>
            <p>
              电话：<a href="tel:18635820658"><i class="am-icon-mobile"></i> 18635820658</a>
            </p>
            <p>
              地址：<i class="am-icon-map"></i> 山西省吕梁市汾阳阳城乡镇府
            </p>
          </div>
          <!-- 二室人员开始//-->
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-4'}">
                  栗家庄乡各村信息联络员
                </h4>
            </div>
            <div id="do-not-say-4" class="am-panel-collapse am-collapse">
              <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover">
                  <thead>
                    <tr>
                      <th>单位名称</th>
                      <th>姓名</th>
                      <th>职务</th>
                      <th>联系电话</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>乡政府</td>
                      <td>李汝阳</td>
                      <td>分管领导</td>
                      <td>15935186458</td>
                    </tr>
                    <tr>
                      <td>乡政府</td>
                      <td>薛雅娜</td>
                      <td>调委主任</td>
                      <td>18035857536</td>
                    </tr>
                    <tr>
                      <td>乡政府</td>
                      <td>李增光</td>
                      <td>矛排员</td>
                      <td>13203585948</td>
                    </tr>
                    <tr>
                      <td>栗家庄村</td>
                      <td>田润全</td>
                      <td>调委主任</td>
                      <td>13935895983</td>
                    </tr>
                    <tr>
                      <td>万户侯</td>
                      <td>侯廷新</td>
                      <td>调委主任</td>
                      <td>13753885716</td>
                    </tr>
                    <tr>
                      <td>南垣底</td>
                      <td>张富军</td>
                      <td>调委主任</td>
                      <td>18335877677</td>
                    </tr>
                    <tr>
                      <td>南花枝</td>
                      <td>薛明峰</td>
                      <td>调委主任</td>
                      <td>13453859776</td>
                    </tr>
                    <tr>
                      <td>北花枝</td>
                      <td>王学礼</td>
                      <td>调委主任</td>
                      <td>13453818648</td>
                    </tr>
                    <tr>
                      <td>石家庄</td>
                      <td>蔡生贵</td>
                      <td>调委主任</td>
                      <td>13753821542</td>
                    </tr>
                    <tr>
                      <td>芦家垣</td>
                      <td>张海生</td>
                      <td>调委主任</td>
                      <td>13753885080</td>
                    </tr>
                    <tr>
                      <td>河北</td>
                      <td>赵建伟</td>
                      <td>调委主任</td>
                      <td>13994804139</td>
                    </tr>
                    <tr>
                      <td>牧庄</td>
                      <td>李广发</td>
                      <td>调委主任</td>
                      <td>13994836767</td>
                    </tr>
                    <tr>
                      <td>芦家庄</td>
                      <td>刘德山</td>
                      <td>调委主任</td>
                      <td>13935885392</td>
                    </tr>
                    <tr>
                      <td>桑枣坡</td>
                      <td>任志军</td>
                      <td>调委主任</td>
                      <td>13994804338</td>
                    </tr>
                    <tr>
                      <td>田村</td>
                      <td>梁信</td>
                      <td>调委主任</td>
                      <td>13485413364</td>
                    </tr>
                    <tr>
                      <td>协和堡</td>
                      <td>刘铁生</td>
                      <td>调委主任</td>
                      <td>13503585754</td>
                    </tr>
                    <tr>
                      <td>刘家庄</td>
                      <td>刘善廷</td>
                      <td>调委主任</td>
                      <td>15035899759</td>
                    </tr>
                    <tr>
                      <td>郭家庄</td>
                      <td>相里建军</td>
                      <td>调委主任</td>
                      <td>13593422442</td>
                    </tr>
                    <tr>
                      <td>北垣底</td>
                      <td>武润元</td>
                      <td>调委主任</td>
                      <td>13753342797</td>
                    </tr>
                    <tr>
                      <td>南垣村</td>
                      <td>刘保元</td>
                      <td>调委主任</td>
                      <td>7371522</td>
                    </tr>
                    <tr>
                      <td>南垣寨</td>
                      <td>武文峰</td>
                      <td>调委主任</td>
                      <td>13753885881</td>
                    </tr>
                    <tr>
                      <td>河堤</td>
                      <td>武开旺</td>
                      <td>调委主任</td>
                      <td>13935836953</td>
                    </tr>
                    <tr>
                      <td>兴裕</td>
                      <td>何耀生</td>
                      <td>调委主任</td>
                      <td>688999</td>
                    </tr>
                    <tr>
                      <td>龙泉</td>
                      <td>郭爱萍</td>
                      <td>调委主任</td>
                      <td>7294558</td>
                    </tr>
                    <tr>
                      <td>杏湾</td>
                      <td>贺香莲</td>
                      <td>调委主任</td>
                      <td>13935836636</td>
                    </tr>
                    <tr>
                      <td>黄嶂</td>
                      <td>王振青</td>
                      <td>调委主任</td>
                      <td>13934364058</td>
                    </tr>
                    <tr>
                      <td>前庄</td>
                      <td>张廷山</td>
                      <td>调委主任</td>
                      <td>13753821786</td>
                    </tr>
                    <tr>
                      <td>上林舍</td>
                      <td>成万华</td>
                      <td>调委主任</td>
                      <td>13753836303</td>
                    </tr>
                    <tr>
                      <td>安家庄</td>
                      <td>何海星</td>
                      <td>调委主任</td>
                      <td>13663586074</td>
                    </tr>
                    <tr>
                      <td>张家堡</td>
                      <td>王利生</td>
                      <td>调委主任</td>
                      <td>13835854060</td>
                    </tr>
                    <tr>
                      <td>侯家墕</td>
                      <td>张安京</td>
                      <td>调委主任</td>
                      <td>13993408526</td>
                    </tr>
                    <tr>
                      <td>下家庄</td>
                      <td>薛宏耀</td>
                      <td>调委主任</td>
                      <td>15535876256</td>
                    </tr>
                    <tr>
                      <td>南庄</td>
                      <td>侯和生</td>
                      <td>调委主任</td>
                      <td>13720927683</td>
                    </tr>
                    <tr>
                      <td>北西庄</td>
                      <td>殷立成</td>
                      <td>调委主任</td>
                      <td>13934362660</td>
                    </tr>
                    <tr>
                      <td>郝家庄</td>
                      <td>贺明荣</td>
                      <td>调委主任</td>
                      <td>13994842177</td>
                    </tr>
                    <tr>
                      <td>北赵郡</td>
                      <td>张绍吉</td>
                      <td>调委主任</td>
                      <td>15035365939</td>
                    </tr>
                    <tr>
                      <td>南赵郡</td>
                      <td>赵爱芝</td>
                      <td>调委主任</td>
                      <td>13753350515</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-10'}">
                  南薰街道各社区信息联络员
                </h4>
            </div>
            <div id="do-not-say-10" class="am-panel-collapse am-collapse">
              <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover">
                  <thead>
                    <tr>
                      <th>单位名称</th>
                      <th>姓名</th>
                      <th>职务</th>
                      <th>联系电话</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>街道办</td>
                      <td>王福新</td>
                      <td>分管领导</td>
                      <td>13834019104</td>
                    </tr>
                    <tr>
                      <td>街道办</td>
                      <td>郭要红</td>
                      <td>调委主任</td>
                      <td>13835855416</td>
                    </tr>
                    <tr>
                      <td>街道办</td>
                      <td>田美云</td>
                      <td>矛排员</td>
                      <td>13834743543</td>
                    </tr>
                    <tr>
                      <td>街道办</td>
                      <td>魏志明</td>
                      <td>矛排员</td>
                      <td>18636421799</td>
                    </tr>
                    <tr>
                      <td>东南社区</td>
                      <td>郭仲雄</td>
                      <td>调委主任</td>
                      <td>13753801393</td>
                    </tr>
                    <tr>
                      <td>洪南社社区</td>
                      <td>马德元</td>
                      <td>调委主任</td>
                      <td>13835809033</td>
                    </tr>
                    <tr>
                      <td>南关社区</td>
                      <td>张振宏</td>
                      <td>调委主任</td>
                      <td>13152787688</td>
                    </tr>
                    <tr>
                      <td>赵家庄</td>
                      <td>高克勤</td>
                      <td>调委主任</td>
                      <td>13994806353</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-11'}">
                  三泉镇各村信息联络员
                </h4>
            </div>
            <div id="do-not-say-11" class="am-panel-collapse am-collapse">
              <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover">
                  <thead>
                    <tr>
                      <th>单位名称</th>
                      <th>姓名</th>
                      <th>职务</th>
                      <th>联系电话</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>镇政府</td>
                      <td>王聪明</td>
                      <td>分管领导</td>
                      <td>18634764399</td>
                    </tr>
                    <tr>
                      <td>镇政府</td>
                      <td>王弘骥</td>
                      <td>调委主任</td>
                      <td>13994836192</td>
                    </tr>
                    <tr>
                      <td>镇政府</td>
                      <td>闫志刚</td>
                      <td>矛排员</td>
                      <td>15525758222</td>
                    </tr>
                    <tr>
                      <td>三泉村</td>
                      <td>李世杰</td>
                      <td>调委主任</td>
                      <td>13834019682</td>
                    </tr>
                    <tr>
                      <td>张新堡</td>
                      <td>么海宏</td>
                      <td>调委主任</td>
                      <td>15525840977</td>
                    </tr>
                    <tr>
                      <td>赵家堡</td>
                      <td>路崇安</td>
                      <td>调委主任</td>
                      <td>15050624353</td>
                    </tr>
                    <tr>
                      <td>任家堡</td>
                      <td>任廷全</td>
                      <td>调委主任</td>
                      <td>13834761739</td>
                    </tr>
                    <tr>
                      <td>南垣</td>
                      <td>张建生</td>
                      <td>调委主任</td>
                      <td>13096675839</td>
                    </tr>
                    <tr>
                      <td>仁道村</td>
                      <td>王永平</td>
                      <td>调委主任</td>
                      <td>13753802667</td>
                    </tr>
                    <tr>
                      <td>郭家庄</td>
                      <td>温万良</td>
                      <td>调委主任</td>
                      <td>15834344647</td>
                    </tr>
                    <tr>
                      <td>张多</td>
                      <td>惠志贵</td>
                      <td>调委主任</td>
                      <td>13133088253</td>
                    </tr>
                    <tr>
                      <td>新贤村</td>
                      <td>王崇利</td>
                      <td>调委主任</td>
                      <td>13934014562</td>
                    </tr>
                    <tr>
                      <td>团城村</td>
                      <td>梁福生</td>
                      <td>调委主任</td>
                      <td>15835839463</td>
                    </tr>
                    <tr>
                      <td>段家庄</td>
                      <td>陈永谦</td>
                      <td>调委主任</td>
                      <td>13935850540</td>
                    </tr>
                    <tr>
                      <td>巩村</td>
                      <td>李晋宏</td>
                      <td>调委主任</td>
                      <td>13753801187</td>
                    </tr>
                    <tr>
                      <td>尚文</td>
                      <td>张文泽</td>
                      <td>调委主任</td>
                      <td>13803485136</td>
                    </tr>
                    <tr>
                      <td>义丰北</td>
                      <td>张景润</td>
                      <td>调委主任</td>
                      <td>13593421811</td>
                    </tr>
                    <tr>
                      <td>平陆</td>
                      <td>王灿海</td>
                      <td>调委主任</td>
                      <td>13834019632</td>
                    </tr>
                    <tr>
                      <td>西赵村</td>
                      <td>韩燕生</td>
                      <td>调委主任</td>
                      <td>13753386383</td>
                    </tr>
                    <tr>
                      <td>东赵村</td>
                      <td>任书田</td>
                      <td>调委主任</td>
                      <td>7516559</td>
                    </tr>
                    <tr>
                      <td>东石村</td>
                      <td>田雄胜</td>
                      <td>调委主任</td>
                      <td>13037084653</td>
                    </tr>
                    <tr>
                      <td>南石村　</td>
                      <td>田加桢</td>
                      <td>调委主任</td>
                      <td>13037085164</td>
                    </tr>
                    <tr>
                      <td>北石村</td>
                      <td>王忠范</td>
                      <td>调委主任</td>
                      <td>13453819348</td>
                    </tr>
                    <tr>
                      <td>上庄</td>
                      <td>任显桐</td>
                      <td>调委主任</td>
                      <td>13935851483</td>
                    </tr>
                    <tr>
                      <td>北马</td>
                      <td>宋守宏</td>
                      <td>调委主任</td>
                      <td>13753593103</td>
                    </tr>
                    <tr>
                      <td>南马</td>
                      <td>雷小兵</td>
                      <td>调委主任</td>
                      <td>13593423262</td>
                    </tr>
                    <tr>
                      <td>北榆苑　</td>
                      <td>徐常智</td>
                      <td>调委主任</td>
                      <td>13753820936</td>
                    </tr>
                    <tr>
                      <td>任义庄</td>
                      <td>任本寿</td>
                      <td>调委主任</td>
                      <td>　</td>
                    </tr>
                    <tr>
                      <td>西贾壁</td>
                      <td>孙晋质</td>
                      <td>调委主任</td>
                      <td>13994806899</td>
                    </tr>
                    <tr>
                      <td>东贾壁</td>
                      <td>马心华</td>
                      <td>调委主任</td>
                      <td>13453882047</td>
                    </tr>
                    <tr>
                      <td>岅峪村　</td>
                      <td>宋育平</td>
                      <td>调委主任</td>
                      <td>13453882181</td>
                    </tr>
                    <tr>
                      <td>崞村</td>
                      <td>田业宇</td>
                      <td>调委主任</td>
                      <td>13593364643</td>
                    </tr>
                    <tr>
                      <td>员庄</td>
                      <td>李晓生</td>
                      <td>调委主任</td>
                      <td>15935828252</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-12'}">
                  石庄镇各村信息联络员
                </h4>
            </div>
            <div id="do-not-say-12" class="am-panel-collapse am-collapse">
              <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover">
                  <thead>
                    <tr>
                      <th>单位名称</th>
                      <th>姓名</th>
                      <th>职务</th>
                      <th>联系电话</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>镇政府</td>
                      <td>路建岭</td>
                      <td>分管领导</td>
                      <td>18634764399</td>
                    </tr>
                    <tr>
                      <td>镇政府</td>
                      <td>陈冬冬</td>
                      <td>调委主任</td>
                      <td>18035857528</td>
                    </tr>
                    <tr>
                      <td>镇政府</td>
                      <td>程美玲</td>
                      <td>成员</td>
                      <td>13453834992</td>
                    </tr>
                    <tr>
                      <td>阳泉村</td>
                      <td>田前荫</td>
                      <td>调委主任</td>
                      <td>15003586111</td>
                    </tr>
                    <tr>
                      <td>原家社村</td>
                      <td>张天忠</td>
                      <td>调委主任</td>
                      <td>15935828041</td>
                    </tr>
                    <tr>
                      <td>西庄村</td>
                      <td>牛海潮</td>
                      <td>调委主任</td>
                      <td>15535806823</td>
                    </tr>
                    <tr>
                      <td>前杨寨</td>
                      <td>高文秀</td>
                      <td>调委主任</td>
                      <td>13403581188</td>
                    </tr>
                    <tr>
                      <td>后杨寨</td>
                      <td>侯利文</td>
                      <td>调委主任</td>
                      <td>13834761909</td>
                    </tr>
                    <tr>
                      <td>北广城</td>
                      <td>路祥建</td>
                      <td>调委主任</td>
                      <td>15135861136</td>
                    </tr>
                    <tr>
                      <td>张家庄</td>
                      <td>刘福成</td>
                      <td>调委主任</td>
                      <td>13753887027</td>
                    </tr>
                    <tr>
                      <td>下庄</td>
                      <td>宋学文</td>
                      <td>调委主任</td>
                      <td>13453833680</td>
                    </tr>
                    <tr>
                      <td>南广城</td>
                      <td>段兴智</td>
                      <td>调委主任</td>
                      <td>13333585318</td>
                    </tr>
                    <tr>
                      <td>东武堡</td>
                      <td>尹锡海</td>
                      <td>调委主任</td>
                      <td>13994842727</td>
                    </tr>
                    <tr>
                      <td>东村</td>
                      <td>路成生</td>
                      <td>调委主任</td>
                      <td>13753386663</td>
                    </tr>
                    <tr>
                      <td>胡家社</td>
                      <td>范德良</td>
                      <td>调委主任</td>
                      <td>18235839081</td>
                    </tr>
                    <tr>
                      <td>菽禾</td>
                      <td>王国有</td>
                      <td>调委主任</td>
                      <td>13803485978</td>
                    </tr>
                    <tr>
                      <td>曹家庄</td>
                      <td>田嵩虎</td>
                      <td>调委主任</td>
                      <td>15135486771</td>
                    </tr>
                    <tr>
                      <td>李家庄</td>
                      <td>李国明</td>
                      <td>调委主任</td>
                      <td>13593414512</td>
                    </tr>
                    <tr>
                      <td>谷雨墕</td>
                      <td>董生龙</td>
                      <td>调委主任</td>
                      <td>18935431208</td>
                    </tr>
                    <tr>
                      <td>西武堡</td>
                      <td>任朝林</td>
                      <td>调委主任</td>
                      <td>13293666819</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-13'}">
                  文峰街道各信息联络员
                </h4>
            </div>
            <div id="do-not-say-13" class="am-panel-collapse am-collapse">
              <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover">
                  <thead>
                    <tr>
                      <th>单位名称</th>
                      <th>姓名</th>
                      <th>职务</th>
                      <th>联系电话</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>街道办</td>
                      <td>郭清河</td>
                      <td>分管领导</td>
                      <td>13994841678</td>
                    </tr>
                    <tr>
                      <td>街道办</td>
                      <td>张青</td>
                      <td>调委主任</td>
                      <td>13152787380</td>
                    </tr>
                    <tr>
                      <td>街道办</td>
                      <td>朱晓瑾</td>
                      <td>矛排员</td>
                      <td>15035362188</td>
                    </tr>
                    <tr>
                      <td>东关</td>
                      <td>张彩珍</td>
                      <td>调委主任</td>
                      <td>18935170753</td>
                    </tr>
                    <tr>
                      <td>建昌</td>
                      <td>张成伟</td>
                      <td>调委主任</td>
                      <td>13753350895</td>
                    </tr>
                    <tr>
                      <td>峰南</td>
                      <td>魏锦武</td>
                      <td>调委主任</td>
                      <td>15534385592</td>
                    </tr>
                    <tr>
                      <td>西路家庄</td>
                      <td>王小平</td>
                      <td>调委主任</td>
                      <td>13453857672</td>
                    </tr>
                    <tr>
                      <td>曹兴</td>
                      <td>李武</td>
                      <td>调委主任</td>
                      <td>13994807282</td>
                    </tr>
                    <tr>
                      <td>古庄</td>
                      <td>梁宝荣</td>
                      <td>调委主任</td>
                      <td>13111217423</td>
                    </tr>
                    <tr>
                      <td>望春</td>
                      <td>郝长富</td>
                      <td>调委主任</td>
                      <td>13485414587</td>
                    </tr>
                    <tr>
                      <td>吴南社</td>
                      <td>朱学龙</td>
                      <td>调委主任</td>
                      <td>13453853456</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-14'}">
                  西河街道各村信息联络员
                </h4>
            </div>
            <div id="do-not-say-14" class="am-panel-collapse am-collapse">
              <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover">
                  <thead>
                    <tr>
                      <th>单位名称</th>
                      <th>姓名</th>
                      <th>职务</th>
                      <th>联系电话</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>街道办</td>
                      <td>王清</td>
                      <td>分管领导</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>街道办</td>
                      <td>吕德宏</td>
                      <td>调委主任</td>
                      <td>18035857568</td>
                    </tr>
                    <tr>
                      <td>街道办</td>
                      <td>刘燕</td>
                      <td>矛排员</td>
                      <td>15935099160</td>
                    </tr>
                    <tr>
                      <td>西关村</td>
                      <td>武兆明</td>
                      <td>调委主任</td>
                      <td>13753802868</td>
                    </tr>
                    <tr>
                      <td>大向善</td>
                      <td>马万祥</td>
                      <td>调委主任</td>
                      <td>18335838694</td>
                    </tr>
                    <tr>
                      <td>西门</td>
                      <td>韩玉成</td>
                      <td>调委主任</td>
                      <td>13111216199</td>
                    </tr>
                    <tr>
                      <td>北门</td>
                      <td>韦海生</td>
                      <td>调委主任</td>
                      <td>13720901996</td>
                    </tr>
                    <tr>
                      <td>冯家庄</td>
                      <td>任永星</td>
                      <td>调委主任</td>
                      <td>13935836009</td>
                    </tr>
                    <tr>
                      <td>石塔</td>
                      <td>王明利</td>
                      <td>成员</td>
                      <td>13453818311</td>
                    </tr>
                    <tr>
                      <td>中华街</td>
                      <td>车爱萍</td>
                      <td>调委主任</td>
                      <td>18635880315</td>
                    </tr>
                    <tr>
                      <td>小向善</td>
                      <td>张志鸿</td>
                      <td>调委主任</td>
                      <td>13834352548 </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-15'}">
                  阳城乡各村信息联络员
                </h4>
            </div>
            <div id="do-not-say-15" class="am-panel-collapse am-collapse">
              <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover">
                  <thead>
                    <tr>
                      <th>单位名称</th>
                      <th>姓名</th>
                      <th>职务</th>
                      <th>联系电话</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>乡政府</td>
                      <td>黄克元</td>
                      <td>分管领导</td>
                      <td>13753386155</td>
                    </tr>
                    <tr>
                      <td>乡政府</td>
                      <td>任静</td>
                      <td>调委主任</td>
                      <td>15135886884</td>
                    </tr>
                    <tr>
                      <td>乡政府</td>
                      <td>王安斌</td>
                      <td>矛排员</td>
                      <td>15383489090</td>
                    </tr>
                    <tr>
                      <td>董家庄</td>
                      <td>李吉元</td>
                      <td>调委主任</td>
                      <td>13593405614</td>
                    </tr>
                    <tr>
                      <td>田屯</td>
                      <td>高吉海</td>
                      <td>调委主任</td>
                      <td>13513583791</td>
                    </tr>
                    <tr>
                      <td>西阳城</td>
                      <td>袁庆兴</td>
                      <td>调委主任</td>
                      <td>13994805240</td>
                    </tr>
                    <tr>
                      <td>见喜</td>
                      <td>田建宝</td>
                      <td>调委主任</td>
                      <td>13934015669</td>
                    </tr>
                    <tr>
                      <td>普会</td>
                      <td>田世贵</td>
                      <td>调委主任</td>
                      <td>13403581337</td>
                    </tr>
                    <tr>
                      <td>小虢城</td>
                      <td>李胜利</td>
                      <td>调委主任</td>
                      <td>13753841863</td>
                    </tr>
                    <tr>
                      <td>东阳城</td>
                      <td>姚兆环</td>
                      <td>调委主任</td>
                      <td>18636465888</td>
                    </tr>
                    <tr>
                      <td>靳屯</td>
                      <td>李光</td>
                      <td>调委主任</td>
                      <td>13593405502</td>
                    </tr>
                    <tr>
                      <td>董和</td>
                      <td>杨茂年</td>
                      <td>调委主任</td>
                      <td>15835892721</td>
                    </tr>
                    <tr>
                      <td>东官</td>
                      <td>赵仲河</td>
                      <td>调委主任</td>
                      <td>13753881356</td>
                    </tr>
                    <tr>
                      <td>北庄</td>
                      <td>冯利军</td>
                      <td>调委主任</td>
                      <td>13935816340</td>
                    </tr>
                    <tr>
                      <td>东路家庄</td>
                      <td>屠录凯</td>
                      <td>调委主任</td>
                      <td>13453818082</td>
                    </tr>
                    <tr>
                      <td>干河</td>
                      <td>魏建银</td>
                      <td>调委主任</td>
                      <td>15035886368</td>
                    </tr>
                    <tr>
                      <td>西官</td>
                      <td>任思伟</td>
                      <td>调委主任</td>
                      <td>13720928319</td>
                    </tr>
                    <tr>
                      <td>孝臣</td>
                      <td>高嵩</td>
                      <td>调委主任</td>
                      <td>15135871234</td>
                    </tr>
                    <tr>
                      <td>虞城</td>
                      <td>乔金明</td>
                      <td>调委主任</td>
                      <td>18935429621</td>
                    </tr>
                    <tr>
                      <td>史家堡</td>
                      <td>张春成</td>
                      <td>调委主任</td>
                      <td>15135490139</td>
                    </tr>
                    <tr>
                      <td>东龙观</td>
                      <td>李兆云</td>
                      <td>成员</td>
                      <td>7504004</td>
                    </tr>
                    <tr>
                      <td>乔家庄</td>
                      <td>任泉</td>
                      <td>调委主任</td>
                      <td>15203588538</td>
                    </tr>
                    <tr>
                      <td>文侯</td>
                      <td>陈旺东</td>
                      <td>调委主任</td>
                      <td>13935851647</td>
                    </tr>
                    <tr>
                      <td>东堡</td>
                      <td>郭世林</td>
                      <td>调委主任</td>
                      <td>15235803418</td>
                    </tr>
                    <tr>
                      <td>申家堡</td>
                      <td>申殿亮</td>
                      <td>调委主任</td>
                      <td>13097576703</td>
                    </tr>
                    <tr>
                      <td>北堡</td>
                      <td>李育文</td>
                      <td>调委主任</td>
                      <td>13753821613</td>
                    </tr>
                    <tr>
                      <td>西龙观</td>
                      <td>王克武</td>
                      <td>调委主任</td>
                      <td>13994842036</td>
                    </tr>
                    <tr>
                      <td>节义</td>
                      <td>魏锦如</td>
                      <td>调委主任</td>
                      <td>15135881628</td>
                    </tr>
                    <tr>
                      <td>牛庄</td>
                      <td>张宏茂</td>
                      <td>调委主任</td>
                      <td>13753886248 </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="am-panel am-panel-default">
            <div class="am-panel-hd">
              <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-16'}">
                  杨家庄镇调解委员会
                </h4>
            </div>
            <div id="do-not-say-16" class="am-panel-collapse am-collapse">
              <div class="am-panel-bd">
                <table class="am-table am-table-striped am-table-hover">
                  <thead>
                    <tr>
                      <th>单位名称</th>
                      <th>姓名</th>
                      <th>职务</th>
                      <th>联系电话</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>镇政府</td>
                      <td>吕汉新</td>
                      <td>分管领导</td>
                      <td>13994836811</td>
                    </tr>
                    <tr>
                      <td>镇政府</td>
                      <td>司海娇</td>
                      <td>调委主任</td>
                      <td>15935840685</td>
                    </tr>
                    <tr>
                      <td>镇政府</td>
                      <td>邓升华</td>
                      <td>矛排员</td>
                      <td> 13593421774</td>
                    </tr>
                    <tr>
                      <td>靳家庄</td>
                      <td>杨建生</td>
                      <td>调委主任</td>
                      <td>13403581789</td>
                    </tr>
                    <tr>
                      <td>磁盆沟</td>
                      <td>王德文</td>
                      <td>调委主任</td>
                      <td>7302808</td>
                    </tr>
                    <tr>
                      <td>后庄</td>
                      <td>徐志勇</td>
                      <td>调委主任</td>
                      <td>13453857109</td>
                    </tr>
                    <tr>
                      <td>南垣活</td>
                      <td>李文桥</td>
                      <td>调委主任</td>
                      <td>7597154</td>
                    </tr>
                    <tr>
                      <td>北舍</td>
                      <td>梁永春</td>
                      <td>调委主任</td>
                      <td>7593078</td>
                    </tr>
                    <tr>
                      <td>芦王庄</td>
                      <td>王天琦</td>
                      <td>调委主任</td>
                      <td>13111276336</td>
                    </tr>
                    <tr>
                      <td>墕头</td>
                      <td>黄广全</td>
                      <td>调委主任</td>
                      <td>18636416808</td>
                    </tr>
                    <tr>
                      <td>垣头</td>
                      <td>张天富</td>
                      <td>调委主任</td>
                      <td>7593009</td>
                    </tr>
                    <tr>
                      <td>中西庄</td>
                      <td>王成江</td>
                      <td>调委主任</td>
                      <td>7297021</td>
                    </tr>
                    <tr>
                      <td>前庄</td>
                      <td>贺朝华</td>
                      <td>调委主任</td>
                      <td>13994840821</td>
                    </tr>
                    <tr>
                      <td>北灵</td>
                      <td>王尚勇</td>
                      <td>调委主任</td>
                      <td>13453858222</td>
                    </tr>
                    <tr>
                      <td>乔家山</td>
                      <td>路敦雄</td>
                      <td>调委主任</td>
                      <td>13734168918</td>
                    </tr>
                    <tr>
                      <td>北偏城村</td>
                      <td>张兴有</td>
                      <td>调委主任</td>
                      <td>13935840988</td>
                    </tr>
                    <tr>
                      <td>色头</td>
                      <td>王树生</td>
                      <td>调委主任</td>
                      <td>13935836119</td>
                    </tr>
                    <tr>
                      <td>南墕</td>
                      <td>何朝箭</td>
                      <td>调委主任</td>
                      <td>15035350333</td>
                    </tr>
                    <tr>
                      <td>南灵</td>
                      <td>王成智</td>
                      <td>调委主任</td>
                      <td>15935163078</td>
                    </tr>
                    <tr>
                      <td>韩家垣</td>
                      <td>韩绵伟</td>
                      <td>调委主任</td>
                      <td>13753801028</td>
                    </tr>
                    <tr>
                      <td>中庄</td>
                      <td>靳正明</td>
                      <td>调委主任</td>
                      <td>18234898344</td>
                    </tr>
                    <tr>
                      <td>紫家墕</td>
                      <td>靳福武</td>
                      <td>调委主任</td>
                      <td>13903583752</td>
                    </tr>
                    <tr>
                      <td>杨家庄</td>
                      <td>孔凡章</td>
                      <td>调委主任</td>
                      <td>13453801588</td>
                    </tr>
                    <tr>
                      <td>谷丰</td>
                      <td>王安林</td>
                      <td>调委主任</td>
                      <td>15035887575</td>
                    </tr>
                    <tr>
                      <td>南偏城</td>
                      <td>殷国安</td>
                      <td>调委主任</td>
                      <td>13994840183</td>
                    </tr>
                    <tr>
                      <td>王家池</td>
                      <td>阴建红</td>
                      <td>调委主任</td>
                      <td>15903582359</td>
                    </tr>
                    <tr>
                      <td>舍科</td>
                      <td>贺圣华</td>
                      <td>调委主任</td>
                      <td>13994841170</td>
                    </tr>
                    <tr>
                      <td>高家庄</td>
                      <td>王德刚</td>
                      <td>调委主任</td>
                      <td>15935838878</td>
                    </tr>
                    <tr>
                      <td>裴家庄</td>
                      <td>裴元进</td>
                      <td>调委主任</td>
                      <td>13834019377</td>
                    </tr>
                    <tr>
                      <td>庄子</td>
                      <td>贺顺政</td>
                      <td>调委主任</td>
                      <td>13934358311</td>
                    </tr>
                    <tr>
                      <td>邓家坪</td>
                      <td>闫世旺</td>
                      <td>调委主任</td>
                      <td>13835855248</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- 二室人员结束//-->
        </div>
        <div data-tab-panel-2 class="am-tab-panel" style="width:1000px;>
          <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
            <img src="/images/xjdt.jpg" data-rel="/images/xjdt.jpg" alt="巡检地图" />
            <figcaption class="am-figure-capition-btm">
              巡检地图
            </figcaption>
          </figure>
        </div>
        
      </div>
    </div>
  </div>
               
            
            </div>
   
                <div class="tpl-alert"></div>
            </div>

        </div>

    </div>


      <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/amazeui.min.js"></script>
    <script src="/javascripts/iscroll.js"></script>
    <script src="/javascripts/app.js"></script>
</body>

</html>