<!doctype html>
<html>
    <head>
        <title>检察院</title>
    </head>
    <body>
        <form action="/procuratorate" method="post">
            检察院名称：<input type="text" name="jcy"><br><br>
            级别：<input type="text" name="level"><br><br>
            省份：<input type="text" name="province"><br><br>
            地址：<input type="text" name="address"><br><br>
            <input type="submit" value="提交">
        </form>
    </body>
</html>