<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Register</h1>
    <br>
    <form action="/users/register" method="post">
        User:<input type="text" name="username">
        <br>
        Pass:<input type="password" name="password">
        <br>
        
        <button type="submit" class="btn btn-large btn-block btn-default">Submit</button>
        
    </form>
</body>
</html>
