  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
          <a class="am-cf " href="javascript:;" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-file"></span> 稿件管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav1">
            <li id="add"><a href="/article/add" class="am-cf"><span class="am-icon-check"></span>新增稿件</a></li>
            <li id="list"><a href="/article/list" class="am-cf"><span class="am-icon-check"></span>稿件列表</a></li>
            <li id="check"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>审核稿件</a></li>
            <li id="type"><a href="/article/type" class="am-cf"><span class="am-icon-check"></span>新增类别</a></li>
            <li id="typeList"><a href="/article/typeList" class="am-cf"><span class="am-icon-check"></span>类别列表</a></li>
            <li id="out"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>外部稿件</a></li>
          </ul>
        </li>

        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span> 媒体库<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav2">
            <li id="vedio"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>视频信息</a></li>
            <li id="image"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>图片信息</a></li>
            <li id="audio"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>音频信息</a></li>
          </ul>
        </li>

        <li class="admin-parent">
          <a class="am-cf " data-am-collapse="{target: '#collapse-nav3'}"><span class="am-icon-file"></span> 一键发布<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav3">
            <li id="towechat"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>发布到微信</a></li>
            
          </ul>
        </li>

         <li class="admin-parent">
          <a class="am-cf " data-am-collapse="{target: '#collapse-nav5'}"><span class="am-icon-file"></span>预约申请管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav5">
            <li id="info"><a href="/chargemessage" class="am-cf"><span class="am-icon-check"></span>检举信息</a></li>
            <li id=""><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>律师预约</a></li>
            <li id=""><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>档案查询预约</a></li>
            <li id=""><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>案件查询预约</a></li>
          </ul>
        </li>


        <li class="admin-parent">
          <a class="am-cf am-collapsed" data-am-collapse="{target: '#collapse-nav4'}"><span class="am-icon-file"></span> 系统管理<span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub" id="collapse-nav4">
            <li id="setsystem"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>系统设置</a></li>
            <li id="setwechat"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>微信设置</a></li>
           
            <li id="setoption"><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span>操作记录</a></li>
    
          </ul>
        </li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>暂无公告</p>
        </div>
      </div>

      
    </div>
  </div>
